/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #fd6e0a;
}
.btn-primary{
    border-radius: 5px;
    background: #fd6e0a;
    border: 0;
    color:white ;
    font-size:22px ;
    font-style:normal ;
    font-weight:700 ;
    padding: 15px 35px;
}

.section-title {
    color: red;
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
}

.section-description{
    color:#474747;
    text-align: center;
    font-size: 18px;
}

/* nav related style */
nav{
    display: flex;
     justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* header related style */

header{
    background-color: #fff8f3;
    /* background-image: url( ../images/background-images.jpeg); */
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profail-picture{
    width: 250px;
}

.banner-content{
    max-width: 500px;
}

.banner-greeting{
 font-size: 30px;
 color: #474747;
 margin-bottom: 0px;
}

.banner-title{
font-size: 40px;
font-weight: 700;
margin: top 0px; ;
}
.about{
     padding: 100px;
    border-radius: 10px;
    background-color: aqua;
    margin: 130px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}